<p><%= t "users.mailer.hello" %> <%= @resource.email %>!</p>

<p><%= t "users.mailer.reset_password_first_paragraph" %></p>

<p>
  <%= link_to t("users.mailer.change_password_link"), edit_password_url(@resource,
    reset_password_token: @token) %>
</p>

<p><%= t "users.mailer.reset_password_second_paragraph" %></p>
<p><%= t "users.mailer.reset_password_third_paragraph"</p>
