<h2><%= t "users.registrations.edit_header" %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: {method: :put}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      <%= t "users.registrations.edit_waiting_confirm" %> <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t "users.registrations.edit_password_field_notice" %>)</i>
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>
        <%= @minimum_password_length %> <%= t "users.registrations.edit_password_length" %>
      </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
      <i>(<%= t "users.registrations.edit_current_password_notice" %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t("users.registrations.edit_button") %>
  </div>
<% end %>

<h3><%= t "users.registrations.edit_cancel_account" %></h3>

<p>
  <%= t "users.registrations.edit_unhappy" %>
  <%= button_to t("users.registrations.edit_cancel_account_button"),
    registration_path(resource_name), data: {confirm: t "users.registrations.edit_confirm"},
    method: :delete %>
</p>

<%= link_to t("users.registrations.edit_back"), :back %>
